@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

#input {
    width: 100%;
    padding: 12px 10px;
    outline: none;
    resize: none;
    position: relative;
}

#line-hover {
    position: relative;
    z-index: 100;
}

#line-hover:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background: #f5c32c;
    transition: 500ms width linear;
}

#input:focus + #line-hover:after {
    width: 100%;
}

#btn {
    padding: 9px 10px;
    /* box-shadow: 0 4px 0 0 #8d6b05; */
} 